html {
    background-color: black;
}
body {
    width:75%;
    background-color: white;
}
.backg {
    background:white;
    animation: slide_up 1.4s ease;
}

@keyframes slide_up{
    0% {
        transform:translateY(250px);
    }
    100% {
        transform:translateX(0);
    }
}