/*  GLOBAL STYLINGS      */
html {
    background-color:black;
    margin:0 25%;

}
h {
    color: black;
}
img {
    width:100%;
}
body {
    background-color:white;
    width:100%;
    height:1000px;
    margin:0;
    background-image:url('images/backyrad.jpg');
    align-content:center;
    border-radius:45px
}
button {
    width:100px;
    height:50px;
}

#theGrid {
    width:50%;

}
/* First Popup: Initial Screen styling  */
.firstPopupVisibile{
    padding:15% 15%;
    display:normal;   
}
#outerBox {
    border:3px solid rgb(187, 184, 184); 
    border-radius: 15px; 
    height:500px;  
    box-shadow: 10px 10px; 
}
.popUpheading {
    padding:15px 15px;
    text-align: center;;
}



/* Main Game Page stylings     */
#mainPage {

}
.mainPageInvisible{
    display:none
}
.mainPageVisible{
    position:relative;
    display:normal;
}
/* The BOARD/GRID PROPERTIES */
/*  THE ROW CSS PROPERTIES        */
#row{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin:0 25% 5px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.box {
    width:80px;
    height:80px;
    margin:0 15px 10px;
    border-radius: 9999px;
    box-shadow: 0.2em 0.2em 0.4em #a3a7bd, -0.2em -0.2em 0.4em #fff;
    transition-property: all;
    transition-duration: 1s;
}

.unusedBox {
    background-color:rgb(206, 201, 201);
}
#theGrid {
    display:grid;
    grid-template-columns: 15% 70% 15%;  
    width:100%;  
}
#sidePanel {
    DISPLAY:GRID;
    grid-template-columns: 50% 50%;
    WIDTH:100%;
    margin:auto 25%;
}
.boxUsedLocation {

    text-align:center;
    background-color: grey;
}
.boxWrongLocation {
    text-align:center;
    background-color: orange;
    rotate: 30deg;
}
.boxRightLocation {
    text-align:center;
    background-color: green;
}
.boxLetter {
    text-align:center;
    font-size:26px;
}
#userInputBox {
    width:100%;
    text-align:center;
    border-radius: 35px;
    background-color: rgb(248, 248, 176);
    font-size:30px;
}
#userControl {
    display:grid;
    grid-template-columns: 25% 25% 25%;
}
#userButton {
    margin:0 15px;
    border-radius: 25px;
    border:1px solid grey;
}

.alphaBet {
    width:30px;
    height:30px;
    border:1px solid black;
    border-radius: 20px;
    margin:5px 15px;
    text-align:center;
    align-items:center;
}
.alphaBetCorrect {
    width:30px;
    height:30px;
    border:1px solid black;
    border-radius: 20px;
    margin:5px 15px;
    text-align:center;
    align-items:center;
    background-color: green;
}

.letterchoices {
    text-align:center;
    margin:0;
    padding:0;
    font-size:26px;
    line-height:26px;
}
