/*  GLOBAL STYLINGS      */
html {
    background-color:black;
    margin:0 25%;

}
h {
    color: black;
}
img {
    width:100%;
    display:grid;
}
body {
    background-color:white;
    display:inline-block;
    height:1000px;
    border-radius:45px;
    margin:auto;
}

button {
    width:100px;
    height:50px;
}

/* First Popup: Initial Screen styling  */
.firstPopupVisibile{
    padding:15% 15%;
    display:normal;   
}
#outerBox {
    border:3px solid rgb(187, 184, 184); 
    border-radius: 15px; 
    height:500px;  
    box-shadow: 10px 10px; 
}
.popUpheading {
    padding:15px 15px;
    text-align: center;;
}
#pageheader {
   

}


/* Main Game Page stylings     */
#mainPage {

}
.mainPageInvisible{
    display:none
}
.mainPageVisible{
    position:relative;
    display:normal;
}
/* The BOARD/GRID PROPERTIES */
/*  THE ROW CSS PROPERTIES        */
#row{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    margin:5px;
    border:2px solid gold;
    padding:5px;
}
.box {
    width:70px;
    height:70px;
    margin:0 15px 10px;
    border-radius: 9999px;
    box-shadow: 0.2em 0.2em 0.4em #a3a7bd, -0.2em -0.2em 0.4em #fff;
    transition-property: all;
    transition-duration: 1s;
}

.unusedBox {
    background-color:rgb(206, 201, 201);
}
#theGrid {
    display:grid;
    grid-template-columns: 1fr 60% 1fr;  
    margin:5px auto;
}
#theGrid {
    border:1px solid black;
}
#sidePanel {
    DISPLAY:GRID;
    grid-template-columns: 50% 50%;
    WIDTH:100%;
    margin:auto 15%;
}
.boxUsedLocation {

    text-align:center;
    background-color: grey;
}
.boxWrongLocation {
    text-align:center;
    background-color: orange;
    rotate: 30deg;
}
.boxRightLocation {
    text-align:center;
    background-color: green;
}
.boxLetter {
    text-align:center;
    font-size:26px;
}
#userInputBox {
    display:block;
    width:20%;
    margin:15px auto; 
    text-align:center;
    border-radius: 35px;
    background-color: rgb(248, 248, 176);
    font-size:30px;
}
#userControl {
    display:grid;
    grid-template-columns: 25% 25% 25%;
}
#userButton {
    margin:0 15px;
    border-radius: 25px;
    border:1px solid grey;
}

.alphaBet {
    width:30px;
    height:30px;
    border:1px solid black;
    border-radius: 20px;
    margin:5px 15px;
    text-align:center;
    align-items:center;
}
.alphaBetCorrect {
    width:30px;
    height:30px;
    border:1px solid black;
    border-radius: 20px;
    margin:5px 15px;
    text-align:center;
    align-items:center;
    background-color: green;
}

.letterchoices {
    text-align:center;
    margin:0;
    padding:0;
    font-size:26px;
    line-height:26px;
}
.bitcoinImg {
    grid-row-start: 4;
    width:50%;
    margin:auto;
}
#bitcoinSection {
    margin:auto;
    background: rgb(183, 173, 206);
    padding:15px;

}
#bitcoinSection p{
    margin:0;
    text-align:center;
    font-size:12px;
    color: gold
    ;
}
#bitcoinLogo {
    width:40%;
    margin:auto;
}
